body{

font-family:Arial;

margin:30px;

}

.login{

width:300px;

margin:auto;

text-align:center;

}

input{

padding:8px;

margin:5px;

}

button{

padding:8px 15px;

}

table{

margin-top:20px;

width:100%;

border-collapse:collapse;

}

th,td{

padding:10px;

text-align:center;

}